@media only screen and (max-width:1000px) {

	.sidebar {
		width:  33%;
	}

	.content {
		width:  66%;
		position:  relative;
	}

	.logo {
		width:  100%;
	}

	.logo img {
		width:  57%;
	}

	.head h1 {
		width:  100%;
		position:  relative;
	}

	.head {
		width:  100%;
		background-color:  rgb(0, 174, 239);
	}

	.head p {
		width:  60%;
	}

}
@media only screen and (max-width:701px) {

	.sidebar {
		width:  100%;
	}

	.logo {
		width:  35%;
		vertical-align:  baseline;
		height:  50%;
		line-height:  inherit;
		padding-bottom:  2%;
	}

	.menu {
		display:  none;
	}

	.content {
		width:  100%;
	}

	.head h1 {
		font-size:  200%;
		margin-bottom:  5px;
	}

	.card-info {
		width:  60%
	}

}
@media only screen and (max-width:400px) {

}
